/* full-page potion room background */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url("background.png") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: sans-serif;
  overflow: hidden;
}

/* potion room wrapper */
#potion-room {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* cauldron */
#cauldron {
  width: 20%;
  max-width: 250px;
  aspect-ratio: 1 / 1;
  background: url("cauldron.png") no-repeat center center / contain;
  cursor: pointer;
  margin-bottom: 3%;
  z-index: 2;
}

/* potion bottles (base styling) */
.potion {
  width: 30%;
  max-width: 180px;
  aspect-ratio: 1 / 1;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: grab;
}

/* positions of potions (used percentages to keep the potions in the same area on different screens.) */
#potion-bass {
  background-image: url("potion-bass.png");
  top: 60%;
  left: 5%;
}

#potion-pad {
  background-image: url("potion-pad.png");
  top: 35%;
  right: 5%;
}

#potion-pluck {
  background-image: url("potion-pluck.png");
  top: 35%;
  left: 2%;
}

#potion-random {
  background-image: url("potion-random.png");
  top: 9%;
  left: 2%;
}

#potion-reset {
  background-image: url("potion-reset.png");
  top: 9%;
  right: 2%;
}

#potion-bell {
  background-image: url("potion-bell.png");
  top: 60%;
  right: 4%;
}

/* overlay */
#start-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1d0034ca;
  color: #ffe3c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  z-index: 9999;
  cursor: pointer;
}
